@media (min-width: 784px) {

  header{
    display: flex;
    justify-content: space-between;

    .search-icon{
      position: absolute;
      right: 1rem;
      top: 0.4rem;
    }
  }

  .body{

    .content{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;
    }
  }

}
