@import "desktop";
@import "mobile";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-inline-size: 100%;
  block-size: auto;
}

body{
  inline-size: 90%;
  margin: auto;
  font-family: 'Mulish', sans-serif;
}

header{
  padding-block-start: 1rem;

  input{
    padding: 10px 10px;
    font-family: 'Mulish', sans-serif;
  }

  .search{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #F2F2F2;
    inline-size: 50px;
  }

  .location{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid #F2F2F2;
    inline-size: 130px;
  }

  .location::placeholder{
    color: #333333;
  }

  .guests{
    color: #BDBDBD;
    font-weight: bold;
    border: 1px solid #F2F2F2;
    inline-size: 100px;
  }

  .inputs{
    position: relative;
  }

}

.body{
  margin-block-start: 3rem;

  .top{
    display: flex;
    justify-content: space-between;

    h1{
      font-family: 'Montserrat', sans-serif;
      font-weight: bolder;
    }

    p{
      font-family: 'Montserrat', sans-serif;
      font-size: 15px;
    }
  }

  .content{
    margin-block-start: 1.5rem;
  }

}

.card{
  font-family: 'Montserrat', sans-serif;
  margin-block-start: 3rem;

  .photo{
    border-radius: 15px;
    block-size: 300px;
  }

  .superhost{
    border: 1px solid #4F4F4F;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px;
    text-transform: uppercase;
  }

  .type{
    color: #828282;
    font-size: 12px;
    margin-inline-start: 0.15rem;
  }

  .stars{
    display: flex;
    gap: 0.2rem;
  }

  .rating{
    color: #4F4F4F;
  }

  .flex{
    display: flex;
    justify-content: space-between;
    margin-block-start: 1.2rem;
  }

  .title{
    margin-block-start: 1rem;
    font-size: 15px;
    font-weight: bold;
  }
}

footer{
  margin-block-start: 5rem;
  text-align: center;

  p{
    font-size: 10px;
    color: #828282;
    font-family: 'Montserrat', sans-serif;

    a{
      text-decoration: none;
      font-weight: bold;
      color: inherit;
    }
  }
}
