@import "desktop";
@import "mobile";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  inline-size: 90%;
  margin: auto;
  font-family: 'Mulish', sans-serif;
}

header{
  padding-block-start: 1rem;

  input{
    padding: 10px 10px;
    font-family: 'Mulish', sans-serif;
  }

  .search{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #F2F2F2;
    inline-size: 50px;
  }

  .location{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid #F2F2F2;
    inline-size: 130px;
  }

  .location::placeholder{
    color: #333333;
  }

  .guests{
    color: #BDBDBD;
    font-weight: bold;
    border: 1px solid #F2F2F2;
    inline-size: 100px;
  }

  .inputs{
    position: relative;
  }

}

.body{
  margin-block-start: 3rem;

  .top{
    display: flex;
    justify-content: space-between;

    h1{
      font-family: 'Montserrat', sans-serif;
      font-weight: bolder;
    }

    p{
      font-family: 'Montserrat', sans-serif;
      font-size: 15px;
    }
  }

}
